MSG91_AUTH_KEY=
MSG91_WIDGET_ID=
MSG91_OTP_ENABLED=false
MSG91_DEFAULT_COUNTRY_CODE=91
MSG91_OTP_RESEND_COOLDOWN_SECONDS=30
MSG91_OTP_CHALLENGE_EXPIRY_MINUTES=5
MSG91_OTP_MAX_ATTEMPTS=5
MSG91_OTP_TIMEOUT_MS=10000
